*{
	margin: 0;
	pdding:0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: '';
}
.clearfix:after{
	clear: both;
}


body{
	margin:0;
	font:12px "Microsoft YaHei",Helvetica,Arial,sans-serif;
}
.wrapper{
	min-width: 1280px;
}

/****** 头部 ******/
header{
	width: 100%;
	height: 57px;
	padding:0 59px;
	background-color: #fff;
}
header .navbar .logo{
	float: left;
	margin-top:13px;
	padding-left: 42px;
	background: url(../imgs/7-icon.png) no-repeat 0 0;
	color: #393a3a;
	font: 21px SimHei;
	line-height:31px;
}
header .navbar ul{
	float: right;
	text-align: center;
}
header .navbar ul li{
	display: inline-block;
	margin:0 12px;
}
header .navbar ul li a{
	display: inline-block;
	width: 65px;
	padding-top:17px;
	padding-bottom: 16px;
	color: #787b83;
	font-size: 14px;
}
header .navbar ul li.active a,
header .navbar ul li a:hover{
	color:#e74f4d;
	border-bottom:5px solid #d45d5c;
}
header .navbar ul li.login a{
	color:#e74f4d;
	border:none;
	background:url(../imgs/7-icon.png) no-repeat 0 -41px;
	background-origin: content-box;
	background-clip: content-box;
}

/****** banner ******/
.banner{
	position: relative;
}
.banner .banner-bg .mask{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
}
.banner .banner-bg img{
	display: block;
	width: 100%;
}
.banner .banner-txt{
	position:absolute;
	top:230px;
	left:117px;
	color:#fff;
}
.banner .banner-txt h1{
	font-size: 60px;
	font-weight: normal;
}
.banner .banner-txt p{
	margin:30px 0 66px;
	font-size: 21px;
}
.banner .banner-txt a{
	display: block;
	width: 331px;
	height:65px;
	padding-left:99px;
	background-color: #e8504e;
	color:#fff;
	font-size:30px;
	line-height:65px;
}
/****** 平台特色 ******/
.feature{
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	height:250px;
	padding-top:46px;
	background-color:#fff;
}
.feature .item{
	color: #767777;
	font: 14px/1.28571 SimHei;
	text-align:center; 
}
.icon{
	background:url(../imgs/7-icon.png) no-repeat;
}
.feature .item .icon{
	display: block;
	margin:0 auto;
}
.feature .item .icon-circle{
	width: 42px;
	height:42px;
	margin-bottom:46px;
	background-position: 0 -68px;
}
.feature .item .icon-flag{
	width: 35px;
	height:40px;
	margin-bottom:47px;
	background-position: 0 -120px;
}
.feature .item .icon-flower{
	width: 35px;
	height:40px;
	margin-bottom:47px;
	background-position: 0 -170px;
}
.feature .item .icon-square{
	width: 41px;
	height:40px;
	margin-bottom:48px;
	background-position: 0 -220px;
}
.feature .item p{
	height: 52px;
}
.feature .item:nth-child(1) p{
	width: 323px;
	padding-left:89px;
	padding-right:80px;
}
.feature .item:nth-child(2) p{
	width: 336px;
	padding-left:95px;
	padding-right:85px;
}
.feature .item:nth-child(3) p{
	width: 318px;
	padding-left:70px;
	padding-right:92px;
}
.feature .item:nth-child(4) p{
	width: 305px;
	padding-left:70px;
	padding-right:80px;
}
.feature .item + .item p{
	border-left:2px solid #767777;
}
/****** 关于 ******/
.about .title{
	width: 100%;
	height:361px;
	padding-top: 89px;
	background-color:#ededec;
	text-align: center;
}
.about .title .icon-book{
	display: block;
	width: 91px;
	height:92px;
	margin:0 auto;
	background-position: 0 -270px;
}
.about .title h2{
	margin-top:48px;
	color:rgba(50,51,51,0.5);
	font: 54px/1.05556 SimHei;
	font-weight:normal;
}

.evnt-srch,
.evnt-srch .srch-bg{
	position: relative;
}
.evnt-srch .srch-bg .mask{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:calc(100% - 4px);
	background-color:rgba(170,53,51,0.2);
}
.evnt-srch .srch-bg img{
	width: 100%;
}
.evnt-srch .srch-title{
	position: absolute;
	top:53px;
	left:50%;
	color: #fff;
	text-align:center;
	transform: translateX(-50%);
}
.evnt-srch .srch-title h3{
	margin-bottom:10px;
	font-size:21px;
	line-height:1.99429;
}
.evnt-srch .srch-title p{
	margin-top:19px;
	line-height:2.60583;
}
.evnt-srch .srch-title .line{
	display: block;
	width:31px;
	height:3px;
	margin:0 auto;
	background-color:#fff;
}
.evnt-list{
	display: flex;
	flex-wrap:nowrap;
	justify-content:center;
	padding-top:101px;
	padding-bottom: 114px;
	background-color: #f7f7f7;
}
.evnt-list .evnt-list-item{
	text-align: center;
}
.evnt-list .evnt-list-item + .evnt-list-item{
	margin-left:36px;
}
.evnt-list .evnt-list-item .evnt-img{
	width: 217px;
	height:335px;
	padding:12px 7px;
	border:1px solid #e0e0e0;
	background:#fff url(../imgs/7.3.png) no-repeat;
	background-origin:content-box;;
}
.evnt-list .evnt-sh .evnt-img{
	background-position: -256px -53px;
}
.evnt-list .evnt-sz .evnt-img{
	background-position: -512px 0;
}
.evnt-list .evnt-hk .evnt-img{
	background-position: -768px 0;
}
.evnt-list .evnt-list-item h4{
	margin-top:12px;
	color:#323333;
	font-size:14px;
}
.evnt-list .evnt-list-item p{
	margin-top:12px;
	color:#898a8a;
}
.evnt-list .focus h4{
	font-size:21px;
	letter-spacing: 36px;
	text-indent:13px;
}
.evnt-list .focus p{
	margin:8px 0;
}
.evnt-list .focus + .evnt-sz{
	margin-left:12px;
}

